In [2]:
from IPython.display import display
import os
import shutil
import pandas as pd
import numpy as np

In [2]:
data_path = '/datasets/UAV/34_Competition 1_Training dataset/Training dataset'
train_path = f'{data_path}/img'
label_path = f'{data_path}/label_img'
split_test_path = f'{data_path}/test_img'

label_path

'/datasets/UAV/34_Competition 1_Training dataset/Training dataset/label_img'

In [3]:
if not os.path.isdir(split_test_path):
    os.mkdir(split_test_path)
df = pd.DataFrame({'data': sorted(os.listdir(train_path)), 'label': sorted(os.listdir(label_path))})
df['class'] = df['data'].apply(lambda x: x.split('_')[1])
df['set_name'] = None
train_index = df.groupby('class').apply(lambda x: x.sample(frac=.8, random_state=42)[['data']]).reset_index()['level_1'].tolist()
df.loc[train_index, 'set_name'] = 'train'
df['set_name'] = df['set_name'].fillna('test')
display(df.groupby(['class', 'set_name']).count())
df[df['set_name'].eq('test')]['data'].apply(lambda x: shutil.copy(f'{train_path}/{x}', f'{split_test_path}/{x}'))
# df.to_csv('train_34.csv', index=False)
df

/tmp/ipykernel_3197219/3176498983.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  train_index = df.groupby('class').apply(lambda x: x.sample(frac=.8, random_state=42)[['data']]).reset_index()['level_1'].tolist()

                data  label
class set_name
RI    test       432    432
      train     1728   1728
RO    test       432    432
      train     1728   1728

                    data               label class set_name
0     TRA_RI_1000000.jpg  TRA_RI_1000000.png    RI    train
1     TRA_RI_1000001.jpg  TRA_RI_1000001.png    RI     test
2     TRA_RI_1000002.jpg  TRA_RI_1000002.png    RI    train
3     TRA_RI_1000003.jpg  TRA_RI_1000003.png    RI    train
4     TRA_RI_1000004.jpg  TRA_RI_1000004.png    RI    train
...                  ...                 ...   ...      ...
4315  TRA_RO_1004315.jpg  TRA_RO_1004315.png    RO    train
4316  TRA_RO_1004316.jpg  TRA_RO_1004316.png    RO    train
4317  TRA_RO_1004317.jpg  TRA_RO_1004317.png    RO    train
4318  TRA_RO_1004318.jpg  TRA_RO_1004318.png    RO    train
4319  TRA_RO_1004319.jpg  TRA_RO_1004319.png    RO    train

[4320 rows x 4 columns]

In [3]:
folder = 'private'
name = 'UAV_instance_512_z128_400'
shutil.make_archive(name, 'zip', f'./{folder}/{name}/best/image')

'/app/DP_GAN/UAV_instance_512_z128_400.zip'

In [3]:
shutil.make_archive('gen', 'zip', '/app/DP_GAN/private/UAV_instance_512_z128_400/best/gen_label')

'/app/DP_GAN/gen.zip'

In [4]:
shutil.make_archive('ensemble4', 'zip', 'ensemble4')

'/app/DP_GAN/ensemble4.zip'